{
  "check-coverage": true,
  "lines": 90,
  "statements": 90,
  "include": [
    "src/*.js",
    "src/**/*.js",
    "src/**/**/*.js"
  ],
  "exclude": [
    "src/*.test.js",
    "src/**/**/*.test.js",
    "src/**/*.test.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "all": true
}